{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h3>Les derniers films</h3>
        <div class="row">
            {% for film in films %}
                <div class="col-md-4">
                    <h2>{{ film.titre }}</h2>
                    <p>{{ film.resum }}</p>
                    <p><a class="btn btn-default" href="/films/{{ film.id }}/show" >En savoir +</a></p>
                </div>
            {% endfor %}
        </div>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div>
{% endblock %}
